@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #105fb9;
  border-radius: 14px;
}

@layer base {
  :root {
    --background: 210 100% 99%;
    --foreground: 220 15% 20%;
  
    --card: 210 100% 99%;
    --card-foreground: 220 15% 20%;
  
    --popover: 210 100% 99%;
    --popover-foreground: 220 15% 20%;
  
    --primary: 210 60% 50%;
    --primary-foreground: 210 30% 98%;
  
    --secondary: 210 30% 96%;
    --secondary-foreground: 220 15% 20%;
  
    --muted: 210 20% 92%;
    --muted-foreground: 220 15% 40%;
  
    --accent: 210 40% 85%;
    --accent-foreground: 220 15% 20%;
  
    --destructive: 0 70% 70%;
    --destructive-foreground: 210 100% 98%;
  
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 210 15% 80%;
  
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 220 15% 10%;
    --foreground: 210 40% 98%;
  
    --card: 220 15% 10%;
    --card-foreground: 210 40% 98%;
  
    --popover: 220 15% 10%;
    --popover-foreground: 210 40% 98%;
  
    --primary: 210 40% 90%;
    --primary-foreground: 220 15% 15%;
  
    --secondary: 210 15% 30%;
    --secondary-foreground: 210 40% 98%;
  
    --muted: 210 10% 20%;
    --muted-foreground: 210 20% 75%;
  
    --accent: 210 20% 30%;
    --accent-foreground: 210 40% 98%;
  
    --destructive: 0 55% 40%;
    --destructive-foreground: 210 40% 98%;
  
    --border: 210 15% 25%;
    --input: 210 15% 25%;
    --ring: 210 30% 60%;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
